<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/www/layout/base}">
  
    <div layout:fragment="MainBase">
        <!-- Contenido principal -->
        
        
    <div class="container mt-5">
        <h2 class="text-center mb-4">Nuestros Productos</h2>

        <div class="row">
            <div class="col-md-3 mb-4" th:each="producto : ${productos}">
                <div class="card product-card">

                    <!-- Imagen del Producto -->
                    <img th:src="@{'/img/' + ${producto.imagen}}" class="card-img-top product-img" alt="Imagen Producto">
                    
                    <div class="card-body text-center">
                        <h6 class="product-title" th:text="${producto.nombreProducto}"></h6>

                        <!-- Entrega rápida -->
                        <p class="delivery-text">
                            🚚 <span>Recíbelo mañana</span>
                        </p>

                        <!-- Precio -->
                        <p class="price">
                            <span class="final-price" th:text="${producto.precio + '€'}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>
